* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #f3f4f6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #1e3a8a;
    color: #fff;
    width: 100%;
    padding: 1em 0.7em;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 3em;
}

header h1 span {
    font-family: fantasy;
    font-size: 0.2em;
    font-weight: 100;
}

nav{
    margin: 0.5em 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1em;
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    padding: 2em;
}

.content p{
    margin-bottom: 2em;
}

.about-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 2em;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

.about-section .content, .about-section .image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
}

.about-section .content {
    background-color: #4f46e5;
    color: #fff;
    text-align: center;
    flex-direction: column;
}

.about-section h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

.about-section .image img {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
}

/*------------- Projects --------------*/
.title{
    text-align: center; 
    font-size: 2em; 
    color: #4f46e5;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
    width: 100%;
    margin-top: 2em;
}

.project-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 250px;
    transition: transform 0.3s, box-shadow 0.3s;   
}

.project-description {
    overflow: hidden;
    max-height: 3.8em; 
    transition: max-height 0.4s ease; 
}

.project-card.expanded .project-description {
    max-height: 10em; 
}

.project-card:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.project-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.project-card h2 {
    font-size: 1.2em;
    margin: 1em 0 0.5em;
    text-align: center;
    color: #1e3a8a;
    transition: color 0.3s;
}

.project-card p {
    padding: 0 1em 1em;
    color: #666;
    text-align: center;
}

.project-description .more-text {
    display: none; 
}

.show-more-btn {
    background: none;       
    border: none;           
    color: #1e3a8a;         
    text-decoration: underline;  
    cursor: pointer;
    font-size: 0.9em;
    padding: 0;
    margin: 0 auto 1em;
    display: block;
    text-align:center;
}

.show-more-btn:hover {
    color: #3b82f6;         
}

/* Estilo do modal */
.modal {
    display: none; 
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover {
    color: #000;
}

.modal-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1em;
}

.modal-page-link {
    display: inline-block;
    padding: 0.8em 1.2em;
    background-color: #4f46e5;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 1em;
}

.modal-page-link:hover {
    background-color: #3f3ad1;
}


.project-card a {
    display: block;
    padding: 0.8em;
    background-color: #4f46e5;
    color: white;
    text-decoration: none;
    text-align: center;
    transition: background 0.3s;
    border-radius: 0 0 8px 8px;
}

.project-card a:hover {
    background-color: #3f3ad1;

}
/*---------- Footer ---------*/
footer {
    width: 100%;
    background-color: #1e3a8a;
    color: #fff;
    text-align: center;
    padding: 1.5em 0;
    margin-top: 2em;
}

footer .contact{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.4em;
}

footer .contact a {
    color: #fff;
    margin: 0 0.5em;
    text-decoration: none;
    display: flex;
    align-items: center;
}

footer .contact a img{
    width: 1.3em;
    display: flex;
    margin-right: 0.4em;
}

footer p{
    margin: 0.5em;
}

@media (max-width: 550px) {
    .about-section {
        flex-direction: column-reverse;
    }

    .about-section .content {
        width: 100%;
        flex: 1;
    }

    .about-section .image img {
        width: 100%;
        max-width: 200px;
        border-radius: 10px;
    }

    header h1 {
        font-size: 2em;
        line-height: 0.8;
    }

    header h1 span {
        margin-top: 0;
    }
}
